/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  border-bottom: 1px solid #fff;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login-trigger, nav #signup-trigger {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
  border-radius: 3px;
  background: #eee;
}

nav #login-trigger:hover, nav #signup-trigger:hover {
  background: #aaa;
}

nav #login-content, nav #signup-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}
